{% extends 'main/layout.html' %}

{% block title %}
Profile Page
{% endblock %}

{% block main_info_bl %}
{% load static %}
<div class="profile_block">

    <div class="profile_card">
        <h2 class="border-bottom text-center">{{product.product_name}}</h2>
        <div class="profile_card_items">
            <br>
            <h3>{{product.description}}</h3>
            <h3>Price: {{product.price}}</h3>
        </div>
        {% if user.is_authenticated %}
        {% if product in basket.products_id.all %}
        <div class="text-center">
            <a href="{% url 'remove_from_basket_products' product.id%}" class="btn btn-light mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-bag-check" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M10.854 8.146a.5.5 0 0 1 0 .708l-3 3a.5.5 0 0 1-.708 0l-1.5-1.5a.5.5 0 0 1 .708-.708L7.5 10.793l2.646-2.647a.5.5 0 0 1 .708 0z"/>
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>
            </a>
        </div>
        {% else %}
        <div class="text-center">
            <a href="{% url 'add_to_basket' product.id%}" class="btn btn-outline-light mb-3">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor"
                     class="bi bi-bag-plus" viewBox="0 0 16 16">
                    <path fill-rule="evenodd"
                          d="M8 7.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V12a.5.5 0 0 1-1 0v-1.5H6a.5.5 0 0 1 0-1h1.5V8a.5.5 0 0 1 .5-.5z"/>
                    <path d="M8 1a2.5 2.5 0 0 1 2.5 2.5V4h-5v-.5A2.5 2.5 0 0 1 8 1zm3.5 3v-.5a3.5 3.5 0 1 0-7 0V4H1v10a2 2 0 0 0 2 2h10a2 2 0 0 0 2-2V4h-3.5zM2 5h12v9a1 1 0 0 1-1 1H3a1 1 0 0 1-1-1V5z"/>
                </svg>
            </a>
        </div>
        {% endif %}
        {% endif %}
    </div>
</div>


{% endblock %}